[Unit]
Description=Access point and authentication server for Wi-Fi and Ethernet
Documentation=man:hostapd(8)
After=network.target
ConditionFileNotEmpty=/etc/hostapd/hostapd-2.4ghz.conf

[Service]
Type=forking
PIDFile=/run/hostapd-2.4ghz.pid
Restart=on-failure
RestartSec=2
Environment=DAEMON_CONF=/etc/hostapd/hostapd-2.4ghz.conf
EnvironmentFile=-/etc/default/hostapd
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd-2.4ghz.pid $DAEMON_OPTS ${DAEMON_CONF}

[Install]
WantedBy=multi-user.target