[Unit]
Description=Raspberry Pi First Boot Configuration
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rpi-first-boot.sh
StandardOutput=journal+console
StandardError=journal+console
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target